/** @format */

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

header {
  background-color: rgb(237, 221, 174);
  height: 200px;
}

header h1 {
  text-align: center;
  padding-top: 72px;
}

.galleri img {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.galleri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1.5rem;

  background-color: rgb(245, 245, 229);
}

.content {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 50px;
  background-color: rgb(237, 221, 174);
  padding: 20px;
}

.beskrivelse {
  font-family: "roboto";
}

.beskrivelse h1 {
  font-size: 3rem;
}

.beskrivelse h2 {
  font-size: 1.5rem;
}

.beskrivelse p {
  line-height: 25px;

  font-family: "roboto";
  font-size: 1rem;
}

.plakat img {
  width: 50%;
}

@media (max-width: 1200px) {
  .plakat img {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .plakat img {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .plakat img {
    width: 100%;
  }
}

.plakat img,
h1,
p {
  grid-area: 1 / 1;
}

.plakat h1 {
  font-family: "IBM Plex Serif";
  font-size: 4.5rem;
  color: white;
  padding-bottom: 160px;
  text-align: center;
  line-height: 120px;
}

@media (max-width: 600px) {
  .plakat h1 {
    font-family: "IBM Plex Serif";
    font-size: 4rem;
    color: white;
    padding-bottom: 160px;
    text-align: center;
    line-height: 120px;
  }
}

@media (max-width: 500px) {
  .plakat h1 {
    font-family: "IBM Plex Serif";
    font-size: 3rem;
    color: white;
    padding-bottom: 130px;
    text-align: center;
    line-height: 80px;
  }
}

.plakat {
  grid-column: 2;

  display: grid;
  place-items: center;
  margin-block: 50px;
}

iframe,
video {
  width: 100%;
  height: auto;

  aspect-ratio: 16/9;
  padding: 10px;
}

.video_content {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  margin: 50px;

  border: black solid 1px;
  padding: 50px;
}

.layoutdiagram {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;

  border: black solid 1px;

  margin: 50px;
}
